@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400&display=swap');

$red_back: rgba(235, 76, 86, 1);
$back_header: #1B1A1F;
$back_body: #F8F8F8;
$white: #fff;
$back_color_block: rgba(245, 245, 245, 1);
$back_footer: rgba(27, 26, 31, 1);

@mixin button($back_color, $color_text, $border){
    color:$color_text;
    background-color: $back_color;
    border:$border;
}

:root{
    --red_back:#{$red_back};
    --back_header: #{$back_header};
    --back_body: #{$back_body};
    --white: #{$white};
    --back_color_block: #{$back_color_block};
    --back_footer: #{$back_footer}
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ::after,
    ::before{
        box-sizing: inherit;
    }
}
body{
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    background-color: var(--back_body);

    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    h1{
        font-weight: 500;
        font-size: 64px;
        font-family: "Playfair Display", serif;
        width: 527px;
        line-height: 89.6px;
    }
    h3{
        font-weight: 500;
        font-size: 28px;
        font-family: "Playfair Display", serif;
        border-bottom: 4px solid var(--red_back);
        line-height: 39.2px;
    }
}

.container{
    max-width: 1285px;
    margin: 0 auto;
    padding: 10px;
}

header{
    background-color: var(--back_header);
    color: var(--white);

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 30px;
        border-bottom: 1px solid #8D8C8F;
        padding-inline: 40px;

        &__navigation nav ul{
            display: flex;
            gap: 52px;

            li a{
                font-size: 18px;
                line-height: 25.2px;
                color: var(--white);
                transition: all .2s;

                &:hover{
                    border-bottom: 1px solid #F8F8F8;
                }
            }
        }
        &__blocks{
            display: flex;
            gap:20px;

            img{
                width: 24px;
                height: auto;
                transition: filter .2s;

                &:hover{
                    cursor: pointer;
                    filter: drop-shadow(0 0 5px rgba(255, 255, 255, .7));
                }
            }
        }
    }
    main{
        .wraper{
            display: flex;
            height:800px;

            .header__left_block{
                display: flex;
                flex-direction: row;
                gap:40px;
                padding: 60px 40px;

                .header__left_block-ss ul{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: flex-end;
                    height: 100%;

                    li a img{
                        transition: filter .2s;

                        &:hover{
                            filter: drop-shadow(0 0 5px rgba(255, 255, 255, .7));
                        }
                    }
                }
                &-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    p{
                        font-size: 22px;
                        line-height: 33px;
                        font-family: "Bellota Text", sans-serif;
                        font-weight: 300;
                        width: 388px;
                    }
                    button{
                        font-size: 16px;
                        line-height: 33px;
                        text-transform: uppercase;
                        padding-block: 12px;
                        width: 200px;
                        transition: all .2s;
                        @include button(var(--red_back), var(--white), none);

                        &:hover{
                            cursor: pointer;
                            @include button(transparent, var(--white), 1px solid var(--white));
                        }
                    }
                    iframe{
                        margin-left: 30%;
                        width: 152px;
                        height: 122px;
                    }
                }
            }
            .header__right_block{
                position: relative;
                width: 100%;

                img:nth-child(1){
                    position: absolute;
                    right:0;
                    z-index: 1;
                }
                img:nth-child(2){
                    position: absolute;
                    right: 0;
                    bottom:30px;
                }
                span{
                    display: block;
                    background-color: rgba(47, 46, 48, 1);
                    width: 655px;
                    height: 576px;
                    position: absolute;
                    right: 0;
                    top:50%;
                    transform: translateY(-50%);
                    z-index:0;
                }
            }
        }
    }
}