header
    // header-navigation
    .header.header-top
        section.header__logo 
            a(href="#") 
                img(src="img/logo.png" alt="лого")
        section.header__navigation 
            nav 
                ul 
                    each value in ['About', 'Shop', 'Contact']
                        li 
                            a(href="#")= value
        sectiom.header__blocks 
            img(src="img/search.svg", alt="search")
            img(src="img/cart.svg", alt="cart")
            img(src="img/user.svg", alt="account")
    // header-main
    main.header-wraper
        div.wraper
            section.header__left_block 
                .header__left_block-ss 
                    ul 
                        li
                            a(href="#") 
                                img(src="img/google.svg", alt="google")
                        li 
                            a(href="") 
                                img(src="img/tw.svg", alt="tw")
                        li 
                            a(href="") 
                                img(src="img/in.svg", alt="in")
                        li 
                            a(href="") 
                                img(src="img/inst.svg", alt="inst")
                .header__left_block-info 
                    img(src="img/logo_main.png", alt="logo")
                    p 
                        | We build only the best, customized to your exacting demands
                    button(onclick="alert('SHOW NOW');") 
                        | show now 
                    iframe(src='https://www.youtube.com/embed/p6HwroUJ0sc?si=MbPgaP6vS0sCG9kt' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
            section.header__right_block  
                img(src="img/bike.png", alt="bike")
                img(src="img/group.svg", alt="")
                span