extends ../layouts/main_layout

block content 
    main.main
        // main-category
        section.main__category 
            .container 
                .wraper
                    article.main__category-title 
                        h1
                            | Our Most Popular bike category
                        .main__category-title-navigation 
                            h3 
                                | Category 
                            nav 
                                ul 
                                    li
                                        p Mountain Bikes
                                    li 
                                        p Road Bikes
                                    li 
                                        p Hybrid Bikes
                                    li 
                                        p Kids Bikes
                    .main__category-images 
                        .main__category-images-slider 
                            swiper-container.mySwiper(pagination='true' pagination-type='fraction' autoplay-delay="2500" autoplay-disable-on-interaction="false")
                                swiper-slide 
                                    img(src="img/road_bike1.png", alt="")
                                swiper-slide
                                    img(src="img/road_bike2.png", alt="")
                                swiper-slide
                                    img(src="img/road_bike3.png", alt="")
                                swiper-slide
                                    img(src="img/road_bike4.png", alt="")
                        .main__category-images-photo 
                            img(src="img/road_bike5.png", alt="")
        // main-product
        section.main__product
            .container 
                .wraper 
                    article.main__product-title 
                        h1 
                            | Explore Our Product
                        p 
                            | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
                    .main__product-wraper 
                        .main__product-wraper-blocks 
                            .block.block1
                                div
                                    h4 Road helmet 
                                    b $60
                                img(src="img/product1.png", alt="")
                                i ↗
                            .block.block2
                                div
                                    h4 Bike water bottle
                                    b $60
                                img(src="img/product2.png", alt="")
                                i ↗
                            .block.block3
                                div
                                    h4 Bike pump
                                    b $80
                                img(src="img/product3.png", alt="")
                                i ↗
                            .block.block4
                                div
                                    h4 Tire repair kit 
                                    b $120
                                img(src="img/product4.png", alt="")
                                i ↗
                        button(type="submit") 
                            | Explore All
        // main-sponsor
        section.main__sponsor 
            .container 
                .main__sponsor-wraper
                    img(src="img/tesla.svg", alt="")
                    img(src="img/docusign.svg", alt="")
                    img(src="img/maze.svg", alt="")
                    img(src="img/uber.svg", alt="")
                    img(src="img/miro.svg", alt="")
                    img(src="img/discord.svg", alt="")
        // main-info
        section.main__info 
            .container 
                .main__info-wraper
                    .main__info-wraper-firstBlock
                        img(src="img/bike_info.png", alt="")
                        article.main__info-wraper-firstBlock__text 
                            h2 
                                | Why choose Lamere?
                            p 
                                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
                            a(href="")
                                | Read more
                    .main__info-wraper-secondBlock 
                        .block.block1 
                            h4 Service Repiar
                            p
                                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint Velit officia.
                        .block.block2
                            h4 Bike Accessories
                            p
                                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint Velit officia.
                        .block.block3 
                            h4 Warraty & Guarantee
                            p
                                | Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint Velit officia.