extends ../layouts/main_layout

block content 
    main 
        // category
        section.main__category 
            .container 
                div 
                    .main__category-title 
                        h1
                            | Our Most Popular bike category
                        .main__category-title-navigation 
                            h3 
                                | Category 
                            nav 
                                ul 
                                    li
                                        p Mountain Bikes
                                    li 
                                        p Road Bikes
                                    li 
                                        p Hybrid Bikes
                                    li 
                                        p Kids Bikes
                            