extends ../layouts/main_layout

block content 
    main.main
        // category
        section.main__category 
            .container 
                div 
                    .main__category-title 
                        h1
                            | Our Most Popular bike category
                        .main__category-title-navigation 
                            h3 
                                | Category 
                            nav 
                                ul 
                                    li
                                        p Mountain Bikes
                                    li 
                                        p Road Bikes
                                    li 
                                        p Hybrid Bikes
                                    li 
                                        p Kids Bikes
                    .main__categoty-images 
                        .main__category-images--slider 
                            swiper-container.mySwiper(pagination='true' pagination-type='fraction')
                                swiper-slide 
                                    img(src="img/road_bike1.png", alt="" width="576")
                                swiper-slide
                                    img(src="img/road_bike2.png", alt="" width="576")
                                swiper-slide
                                    img(src="img/road_bike3.png", alt="" width="576")
                                swiper-slide Slide 4 