doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LAMERE CYCLES
        // FAVICONS
        link(rel='apple-touch-icon' sizes='180x180' href='img/favicons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='img/favicons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='img/favicons/favicon-16x16.png')
        // CSS
        link(rel="stylesheet", href="css/style.css")
        // Chatra {literal}
        script.
            (function(d, w, c) {
                w.ChatraID = 'HkjoreZ7TDjDoHKoE';
                var s = d.createElement('script');
                w[c] = w[c] || function() {
                    (w[c].q = w[c].q || []).push(arguments);
                };
                s.async = true;
                s.src = 'https://call.chatra.io/chatra.js';
                if (d.head) d.head.appendChild(s);
            })(document, window, 'Chatra');
            // /Chatra {/literal}
    body 
        // https://www.figma.com/file/2e2BPpA4kZWwdWZ40QhPhE/Uplabs?type=design&t=G3CU3suMz9YzMxw2-6  - FIGMA
        .wraper 
            // header
            include ../moduls/header

            // main
            block content 

            // footer
            include ../moduls/footer

        // modal-window
        #modal_1.modal-window
            .modal-window__title
                h3 &Pcy;&rcy;&icy;&vcy;&iecy;&tcy;!
                a.modal-close(href='#') &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy;

        script(src="js/main.js") 
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js")