doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LAMERE CYCLES
        link(rel="stylesheet", href="css/style.css")
        // Chatra {literal}
        script.
            (function(d, w, c) {
                w.ChatraID = 'HkjoreZ7TDjDoHKoE';
                var s = d.createElement('script');
                w[c] = w[c] || function() {
                    (w[c].q = w[c].q || []).push(arguments);
                };
                s.async = true;
                s.src = 'https://call.chatra.io/chatra.js';
                if (d.head) d.head.appendChild(s);
            })(document, window, 'Chatra');
            // /Chatra {/literal}
    body 
        .wraper 
            // header
            include ../moduls/header

            // main
            block content 

            // footer
            include ../moduls/footer

        script(src="js/main.js") 